<div class="panel-body">
  <table class="table table-striped table-hover margin_0 center-table ">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".actions" %></th>
      </tr>
    </thead>
    <tbody class="item-list-in-menu">
      <%= render menu.items %>
    </tbody>
  </table>
</div>
